table {

    width: 100%;
    border-color: whitesmoke;
    background-color:rgb(240, 243, 245);
    font-size: medium;
  }
  
  /*th {
    height: 25%;
    background-color:	rgb(200, 206, 211);
    font-size: large;
    vertical-align: bottom;
  }
  td {
    height: 35%;
    padding: .75rem;
    vertical-align: top;
    border-top:yellow;
  }
  */